/** Add css rules here for your application. */
canvas {
	position:absolute;
	z-index:-1;
	margin-top: auto;
	border: 1px solid #000000;
	background-color: White;
	cursor: crosshair;
	table-layout: auto;
	page-break-before: auto;
	page-break-after: auto;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	color: #77FF77;
	margin: auto;
	border: thin;
	font-stretch: expanded;
	font-variant: normal;
	font-size: 2em;
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	text-align: center;
	text-decoration: overline;
	background-color: mediumblue;
}

